@model IEnumerable<StudentTracker.Models.Student>

@{ ViewData["Title"] = "Home Page"; }

<div>
	<h1> Students </h1>
	@foreach (var student in Model){
	<div>
		@Html.DisplayFor(modelItem => student.Name)
	</div>
	}
</div>